.site-header {
    .container {
        .bottom-header-container {
            padding: 3em 0 2em 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}