
// Colors

$white: #ffffff;
$white-gray: #E2E2E2;

$gray-1: #ccc;
$gray-2: #777;
$gray-3: #555;
$gray-4: #666;
$gray-8: #888;
$gray-9: #999;

$blue: #26bdef;

$black: #000;
$black-1: #333;
$black-2: #222;
$black-3:#2B2B2B;
$black-4: #3c3c3c;


